## Alura Shop

In [12]:
# Importando bibliotecas necessárias
import pandas as pd
import json
import numpy as np

In [13]:
#Importar, criar df e apresentar dados da tabela 1
fonte1 = "..\Semana 2\BD\Tabela_dispositivos.json"
df1 = pd.read_json(fonte1)
df1.head(10)

,Dia,Plataforma do dispositivo,Colocação,Plataforma,Alcance,Impressões,Quantia gasta (BRL),Cliques em links,Visualizações por página,Compras no website,Compras no facebook,Adicionados ao carrinho,Valor de conversão adicionado ao carrinho,Checkouts Iniciados,Valor de conversão de checkouts iniciados,Valor de conversão de compras,Compras
0,2021-07-31,All,All,All,12440.0,16114.0,"72,66","141,00","101,00","6,00",,"48,00","5277,80","30,00",,"853,59","6,00"
1,2021-07-31,mobile_web,All,All,104.0,170.0,"0,49",,,,,,,,,,
2,2021-07-31,mobile_web,feed,All,104.0,170.0,"0,49",,,,,,,,,,
3,2021-07-31,mobile_web,feed,facebook,104.0,170.0,"0,49",,,,,,,,,,
4,2021-07-31,mobile_app,All,All,12236.0,15679.0,"70,62","136,00","98,00","6,00",,"48,00","5277,80","30,00",,"853,59","6,00"
5,2021-07-31,mobile_app,marketplace,All,4.0,18.0,"0,09","1,00",,,,,,,,,
6,2021-07-31,mobile_app,marketplace,facebook,4.0,18.0,"0,09","1,00",,,,,,,,,
7,2021-07-31,mobile_app,instagram_explore,All,236.0,236.0,"1,47","1,00","1,00","1,00",,"5,00","249,20","4,00",,"79,80","1,00"
8,2021-07-31,mobile_app,instagram_explore,instagram,236.0,236.0,"1,47","1,00","1,00","1,00",,"5,00","249,20","4,00",,"79,80","1,00"
9,2021-07-31,mobile_app,instagram_stories,All,3588.0,3868.0,"11,36","22,00","17,00","1,00",,"2,00","191,70","1,00",,"157,19","1,00"

In [14]:
#Importar, criar df e apresentar dados da tabela 2
fonte2 = "..\Semana 2\BD\Tabela_idade_e_genero.json"
df2 = pd.read_json(fonte2)
df2.head()

,Idade,Gênero,Dia,FIELD4,Alcance,Impressões,Quantia gasta (BRL),Cliques no link,Visualizações por página,Compras no website,Compras no facebook,Adicionados ao carrinho,Valor de conversão adicionado ao carrinho,Checkouts Iniciados,Valor de conversão de checkouts iniciados,Valor de conversão de compras,Compras
0,45-54,Feminino,2021-07-31,,1116.0,1489.0,"9,42","24,00","20,00",,,"1,00","63,90","1,00",,,
1,35-44,Outros,2021-07-31,,4.0,5.0,"0,03",,,,,,,,,,
2,45-54,Outros,2021-07-31,,3.0,3.0,,,,,,,,,,,
3,65+,Masculino,2021-07-31,,24.0,36.0,"0,11",,,,,,,,,,
4,25,Outros,2021-07-31,,4.0,4.0,"0,01",,,,,,,,,,

In [15]:
print(f'O total de linhas do primeiro df é {df1.shape[0]} e o total de colunas é {df1.shape[1]}')
print(f'O total de linhas do segundo df é {df2.shape[0]} e o total de colunas é {df2.shape[1]}')

O total de linhas do primeiro df é 819 e o total de colunas é 17
O total de linhas do segundo df é 511 e o total de colunas é 17

In [16]:
# Checar tipo dos dados existentes no primeiro DF
df1.dtypes

Dia                                           object
Plataforma do dispositivo                     object
Colocação                                     object
Plataforma                                    object
Alcance                                      float64
Impressões                                   float64
Quantia gasta (BRL)                           object
Cliques em links                              object
Visualizações por página                      object
Compras no website                            object
Compras no facebook                           object
Adicionados ao carrinho                       object
Valor de conversão adicionado ao carrinho     object
Checkouts Iniciados                           object
Valor de conversão de checkouts iniciados     object
Valor de conversão de compras                 object
Compras                                       object
dtype: object

In [17]:
# Checar tipo dos dados existentes no segundo DF
df2.dtypes

Idade                                         object
Gênero                                        object
Dia                                           object
FIELD4                                        object
Alcance                                      float64
Impressões                                   float64
Quantia gasta (BRL)                           object
Cliques no link                               object
Visualizações por página                      object
Compras no website                            object
Compras no facebook                           object
Adicionados ao carrinho                       object
Valor de conversão adicionado ao carrinho     object
Checkouts Iniciados                           object
Valor de conversão de checkouts iniciados     object
Valor de conversão de compras                 object
Compras                                       object
dtype: object

In [18]:
# Verificando quantas linhas nulas tem em cada coluna do primeiro DF
df1.isnull().sum()

# Este campo não reflete a realidade, pois se olharmos o JSON ele passa várias informações como "" ao invés de nulo

Dia                                           0
Plataforma do dispositivo                     0
Colocação                                     0
Plataforma                                    0
Alcance                                      77
Impressões                                    7
Quantia gasta (BRL)                           0
Cliques em links                              0
Visualizações por página                      0
Compras no website                            0
Compras no facebook                           0
Adicionados ao carrinho                       0
Valor de conversão adicionado ao carrinho     0
Checkouts Iniciados                           0
Valor de conversão de checkouts iniciados     0
Valor de conversão de compras                 0
Compras                                       0
dtype: int64

In [19]:
# Verificando quantas linhas nulas tem em cada coluna do segundo DF
df2.isnull().sum()

Idade                                         0
Gênero                                        0
Dia                                           0
FIELD4                                        0
Alcance                                      64
Impressões                                    3
Quantia gasta (BRL)                           0
Cliques no link                               0
Visualizações por página                      0
Compras no website                            0
Compras no facebook                           0
Adicionados ao carrinho                       0
Valor de conversão adicionado ao carrinho     0
Checkouts Iniciados                           0
Valor de conversão de checkouts iniciados     0
Valor de conversão de compras                 0
Compras                                       0
dtype: int64

In [20]:
# Substituir todos os dados vazios("") do DF por NaN e checar a quantidade de dados nulos
new_df1 = df1.replace(r'^\s*$', np.nan, regex=True)
new_df1.isnull().sum()

Dia                                            0
Plataforma do dispositivo                      0
Colocação                                      0
Plataforma                                     0
Alcance                                       77
Impressões                                     7
Quantia gasta (BRL)                           72
Cliques em links                             368
Visualizações por página                     398
Compras no website                           624
Compras no facebook                          819
Adicionados ao carrinho                      497
Valor de conversão adicionado ao carrinho    497
Checkouts Iniciados                          497
Valor de conversão de checkouts iniciados    819
Valor de conversão de compras                624
Compras                                      624
dtype: int64

In [21]:
# Substituir todos os dados vazios("") do DF por NaN e checar a quantidade de dados nulos
new_df2 = df2.replace(r'^\s*$', np.nan, regex=True)
new_df2.isnull().sum()

Idade                                          0
Gênero                                         0
Dia                                            0
FIELD4                                       511
Alcance                                       64
Impressões                                     3
Quantia gasta (BRL)                           59
Cliques no link                              189
Visualizações por página                     202
Compras no website                           386
Compras no facebook                          511
Adicionados ao carrinho                      303
Valor de conversão adicionado ao carrinho    303
Checkouts Iniciados                          303
Valor de conversão de checkouts iniciados    511
Valor de conversão de compras                386
Compras                                      386
dtype: int64

In [22]:
# Substituir todas os pontos por vírgula no primeiro DF
#new_df1['Alcance'] = new_df1['Alcance'].str.replace('.',',')
#new_df1['Impressões'] = new_df1['Impressões'].str.replace('.',',')
#new_df1.head()

In [23]:
# Substituir todas os pontos por vírgula no segundo DF
#new_df2['Alcance'] = new_df2['Alcance'].str.replace('.',',')
#new_df2['Impressões'] = new_df2['Impressões'].str.replace('.',',')
#new_df2.head()

In [24]:
#Substituir dados NaN por 0
new_df1 = new_df1.replace(np.nan, 0)
new_df2 = new_df2.replace(np.nan, 0)

In [25]:
#Exportar DF para CSV
new_df1.to_csv(r'..\Semana 2\BD\Dispositivos.csv', index = False)
new_df1.to_csv(r'..\Semana 2\BD\IdadeGenero.csv', index = False)